<div class="mizu-container" id="app">
	<header class="mizu-header">The header</header>
	<div class="mizu-body">
		<main class="mizu-content">
			<h1>{{title}}</h1>
			<p>Welcome to {{title}}</p>
		</main>
		<nav class="mizu-nav">
			Navigation
		</nav>
		<aside class="mizu-ads">
			Advertisement
		</aside>
	</div>
	<footer class="mizu-footer">The Footer</footer>
</div>